<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>LOG IN</h1>
 
      <ion-input label="EMAIL" label-placement= "floating" fill="solid" type="text" [(ngModel)]="email" class="custom-input"></ion-input>

      <ion-input label="PASSWORD" label-placement="floating" fill= "solid" type="password" [(ngModel)]="password" class="custom-input"></ion-input>
  
      <ion-button color="warning" shape="round" (click)="logIn()" class="login-button">LOG IN</ion-button>
      <h2>Don't have an account? <a href="/signup">SIGN UP</a></h2>
</ion-content>
