<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="add-lib">
      <h1>ADD TO LIBRARY</h1>
      <ion-item>
        <ion-label position="floating">Title:</ion-label>
        <ion-input type="text" [(ngModel)]="users.title" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Author:</ion-label>
        <ion-input type="text" [(ngModel)]="users.author" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-select label="Genre:" multiple="true" [(ngModel)]="users.genre">
          <ion-select-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</ion-select-option>
        </ion-select>
      </ion-item>

    </div>
  
      <ion-item>
        <ion-select label="Complete Chapter:" interface="popover" placeholder="Select" [(ngModel)]="users.completeChapter">
          <ion-select-option value="true">True</ion-select-option>
          <ion-select-option value="false">False</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ratings:</ion-label>
        <ion-input type="number" [(ngModel)]="users.ratings" required></ion-input>
      </ion-item>
  
    <div class="add-lib-Btn">
      <ion-button color="warning" shape="round" (click)="createUser()">CREATE</ion-button>
    </div>
  
</ion-content>
