<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="calc-display">
    <ion-text [class.error]="hasError">{{display}}</ion-text>
  </div>
  <ion-label>History</ion-label>
  <div class="calc-display">
    <ion-text [class.error]="hasError">{{history}}</ion-text>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('7')">7</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('8')">8</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('9')">9</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="primary" class="button" (click)="handleInput('/')">/</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('6')">6</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('5')">5</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('64')">4</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="primary" class="button" (click)="handleInput('*')">*</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('1')">1</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('2')">2</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('3')">3</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="primary" class="button" (click)="handleInput('-')">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-button expand="block" color="primary" class="button" (click)="handleInput('C')">C</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="handleInput('0')">0</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="success" class="button" (click)="handleInput('=')">=</ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="primary" class="button" (click)="handleInput('+')">+</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>