<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <div>
        <ion-button>Select This</ion-button>
        <br>COLOR BUTTON<br>
        <ion-button color="primary">Primary Button</ion-button><br>
        <ion-button color="secondary">Secondary Button</ion-button><br>
        <ion-button color="danger">Danger Button</ion-button><br>
      </div>
    
      <ion-card>
        <ion-card-header>
            Card Header
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-content>
            Card Content
        </ion-card-content>
      </ion-card>
    
      <br>MODAL<br>
      <ion-button color="primary" (click)="toggleModal()">Modal</ion-button>
    
      <br>ALERT<br>
      <ion-button color="primary" (click)="alert()">Alert</ion-button>
    
      <br>TOAST<br>
      <ion-button color="primary" (click)="presentToast()">Present Toast</ion-button><br>
    
      <ion-toggle [(ngModel)]="condition"></ion-toggle><br>
    
      <custom-slider></custom-slider>
    </ion-toolbar>
  </ion-header>
</ion-content>

<section>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button>
            <ion-icon name="logo-facebook"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
            <ion-icon name="logo-twitter"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
            <ion-icon name="logo-instagram"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</section>


