<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="top">
    Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="text-align:center">
    <br>
    <strong style="font-size: x-large;">This is the first page.<br></strong>
    <br>
    <ion-button href="second-page">Go By Link</ion-button>
    <ion-button (click)="goToMySecondPage()">Go By Event</ion-button>
    <ion-button (click)="goWithAuthorization()">Authorize</ion-button>
  </div>
</ion-content>