<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WELCOME TO MY HOME PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HOME PAGE</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hello! Everyone, I'm Noriel Ducanes Lumawod</strong>
    <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
  </div>
</ion-content>
