<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">create</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="bg">
    <h1>WATTPAD LIBRARY</h1>
    <div class="content" *ngFor="let user of userList">
      <div class="section">
        <div class="section-all">
        <h2>Title: {{user.title}}</h2>
        <h2>Author: {{user.author}}</h2>
        <h2>Genre: {{user.genre}}</h2>
        <h2>completeChapter: {{user.completeChapter}}</h2>
        <h2>Ratings: {{user.ratings}}</h2>
      <div class="btn-click">
        <ion-button color="success" (click)="update(user)" class="button">UPDATE</ion-button>
        <ion-button color="danger" (click)="delete(user)" class="button">DELETE</ion-button>
        <ion-button color="warning" (click)="create()" class="button">CREATE</ion-button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="log-out-btn">
    <ion-fab-button (click)="logOut()">
      <ion-icon name="log-out" color="light"></ion-icon>
    </ion-fab-button>
  </div>
</ion-content>
